PORT=4000
DEFAULT_TENANT=cgu
MONGODB_URI=mongodb+srv://YOUR_USERNAME:YOUR_PASSWORD@YOUR_CLUSTER.mongodb.net/AYRAERP?retryWrites=true&w=majority&appName=AYRAERP
MAIL_ALERT_EMAIL=ashupradhanctc@gmail.com
MAIL_ALERT_APP_PASSWORD=your_gmail_app_password
MAIL_ALERT_FROM_NAME=AYRA ERP Alerts
